.header {
  height: 4rem;
  background-color: #950606; /* Un color de fondo para que se note la altura */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  padding: 0 1rem;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}