<header class="header">
  <h1 class="title" (click)="irNoticias()" >Noticias</h1>
  <div class="header-actions">
    <button  class="btn-noticia" (click)="abrirPopup()">
      {{ isEditMode ? 'Editar Noticia' : 'Nueva Noticia' }}
    </button>
    <button  class="btn-noticia" (click)="eliminarNoticia()" *ngIf="isEditMode">
      Eliminar Noticia
    </button>
  </div>
</header>

 <app-noticia-form-popup
  *ngIf="showPopup"
  [noticia]="noticiaParaEditar"
  (close)="cerrarPopup()"
  (saveSuccess)="onSaveSuccess($event)">
</app-noticia-form-popup>

